.a-comment-name {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    text-align: right;
}

.a-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.nav-link-activity {
    color: lightslategray;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
