.pop-modal {
    animation: fadeIn 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9); /* White with slight transparency */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }

.modal-h1{
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.modal-h2 {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.button-modal {
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-modal2 {
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-modal3 {
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-modal:hover {
    background-color: red;
}

.button-modal2:hover {
    background-color: darkgray;
}

.button-modal3:hover {
    background-color: green;
}

.modal-content {
    text-align: center;
}
